
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

  .carousel-container {
    position: relative;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  

  .carousel {
    padding-top: 50px;
    height: 130vh; 
    /* overflow: hidden;  */
  }
  

 
    .carousel-item img {
        object-fit: cover;
        aspect-ratio: 3/2;
     object-position: top; 
  }
  
  
  
  /* Styles for the carousel control buttons */
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    transform: translateY(-50%);
  }
  
  
  
  
  
  @media screen and (max-width: 800px) {
    .carousel-control-prev,
    .carousel-control-next {
      top: 70%; /* Adjust the distance from the top as needed */
    }
    .carousel-item img{
      height: 30vh;
    }
    .carousel {
      height: 30vh;
    }
  }
  